.banner {
	margin-bottom: 100px;
}

.banner__slide {
	min-height: 780px;
}

<<<<<<< HEAD
.banner__a, .banner__h1 {
=======
.banner__h1,
.banner__a {
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
	text-transform: uppercase;
}

.banner__h1 {
	font-size: 60px;
	font-weight: bold;
<<<<<<< HEAD
	padding-top: 239px;
	padding-bottom: 21px;
	letter-spacing: .5px;
	padding-left: 5px;

	&::after {
		@include h-after;
		left: 31px;
=======
	padding-top: 236px;
	padding-bottom: 24px;
	letter-spacing: .5px;
	&::after {
		@include h-after;
		left: 26px;
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
		width: 50px;
	}
}
.banner__p {
<<<<<<< HEAD
	padding: 26px 0 30px 7px;
=======
	padding: 26px 0 30px;
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
	font-size: 18px;
	width: 472px;
	font-family: $font-secondary;
}
.banner__a {
	background-color: $primary;
	padding: 15px 37px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
<<<<<<< HEAD
	margin-left: 7px;
=======

>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
	&:hover {
		background-color: transparent;
		border: 1px solid $primary;
		color: $primary;
	}
}

// Slick slider styles

.slick-dots {
	position: absolute;
	bottom: 27px;
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0;
	list-style: none;
	text-align: center;

	li {
		top: 10px;
		margin: 0;
	}

	li.slick-active button:before {
		background-color: #000;
		color: transparent;
	}
	li button:before {
		color: transparent;
		border: 1px solid #000;
		border-radius: 50%;
		width: 9px;
		height: 9px;
	}
}
