<<<<<<< HEAD
.clients {
    text-align: center;
    margin-bottom: 45px;
}

.clients__h2 {
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    padding-bottom: 17px;
    padding-top: 2px;

    &::after {
      @include h-after;
      left: 50%;
      width: 40px;
    }
}

.clients__p {
    color: $color-story-first-p;
    padding-top: 12px;
}

.clients__wrapper {
    margin-top: 133px;
}

.clients__logo-holder {
    margin-top: 112px!important;
}
=======
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
