.footer {
  padding-top: 50px;
  font-family: $font-secondary;
  h3 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 20px;
  }
  p,
  a {
    font-size: 14px;
  }
  hr {
    @include hr-style;
    margin-top: 20px;
  }
  i {
    color: #fff;
  }
  &__top {
    background-color: $color-bckg-footer-top;
    color: $color-footer-top;
    padding: 160px 0 110px;

    &__logo {
      padding-left: 411px;
      padding-right: 120px;
      img {
        padding-bottom: 21px;
      }
      p {
        width: 350px;
        line-height: 24px;
        padding-bottom: 17px;
      }
      span {
        border: 1px solid $color-primary;
        padding: 5px 10px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
    &__links {
      padding-right: 165px;

      &__link {
        display: block;
        color: $color-footer-top;
        text-decoration: none;
        padding-top: 15px;
        &--first {
          padding-top: 6px;
        }
        i {
          font-size: 12px;
          padding-right: 18px;
        }
      }
    }
    &__adress {
      i {
        font-size: 12px;
      }
      p {
        padding-left: 30px;
        position: relative;
        i {
          position: absolute;
          left: 0px;
        }
      }

      &__first-p {
        padding-top: 6px;
      }
    }
  }
  &__bottom {
    background-color: $color-bckg-footer-bottom;
    color: #fff;
    padding-top: 22px;

    p {
      padding-left: 18px;
    }
  }
}
