// HEADER

.header {
	margin-bottom: 24px;
}

// HEADER TOP
<<<<<<< HEAD

.header__top,
.header__top-link {
	color: #fff;
}

.header__top {
	background-color: $color-bckg-top-bar;
	padding: 8px 0 10px;
}

.header__top-contact {
	padding-left: 10px;
}

.header__top-social {
	text-align: right;
	padding-right: 7px!important;
}
.header__top-contact {
	padding-left: 20px!important;
}

.header__top-link,
.header__top-span {
	font-size: 12px;
	&:not(:last-child) {
		padding-right: 18px;
	}
}

.header__top-span {
	font-family: $font-third;
}

.header__top-link {
	text-decoration: none;

	&:first-child {
		padding-right: 50px;
	}

	.header__top-i {
		font-size: 12px;
		&--contact {
			padding-right: 12px;
		}
	}

	.header__top-mail {
		font-size: 14px;
	}
}

// HEADER BOTTOM

.header__bottom-logo-a {
	padding-left: 10px;

}

.header__bottom {
	margin-top: 22px;
}
.header__bottom-nav {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.bottom-nav__nav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	align-self: flex-end;
	position: absolute;
	right: 0;
	padding-right: 3px;
}

.nav__ul {
	display: flex;
}
.nav__list {
	list-style: none;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 0 0 6px 24px;
	&:not(:last-child) {
		padding-right: 10px;
	}
}
.nav__link {
	text-decoration: none;
	color: $color-nav-item;
	position: relative;

	@include a-after;

=======

.header__top,
.header__top-link {
	color: #fff;
}

.header__top {
	background-color: $color-bckg-top-bar;
	padding: 8px 0;
}

.header__top-social {
	text-align: right;
	padding-right: 0 !important;
	div {
		padding-right: 0;
	}
}

.header__top-link,
.header__top-span {
	font-size: 12px;
	&:not(:last-child) {
		padding-right: 18px;
	}
}

.header__top-span {
	font-family: $font-third;
}

.header__top-link {
	text-decoration: none;

	&:first-child {
		padding-right: 50px;
	}

	.header__top-i {
		font-size: 12px;
		&--contact {
			padding-right: 12px;
		}
	}
}

// HEADER BOTTOM

.header__bottom {
	margin-top: 22px;
}
.header__bottom-nav {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.bottom-nav__nav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	align-self: flex-end;
	position: absolute;
	right: 0;
}

.nav__ul {
	display: flex;
	margin-right: -10px;
}
.nav__list {
	list-style: none;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 0 0 6px 24px;
	&:not(:last-child) {
		padding-right: 10px;
	}
}
.nav__link {
	text-decoration: none;
	color: $color-nav-item;
	position: relative;

	@include a-after;

>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
	&:hover {
		color: $color-nav-item;
	}
}
.nav__link-arrow {
	font-size: 10px;
}
