.header {

    &__top-bar, &__menu-bar {
        padding: 6px 21% 5px 21.8%;

    }

    &__top-bar {
        background-color: $color-bckg-top-bar;
        color: #fff;

        &__contact {
            i {
                font-size: 11px;
            }
            span {
                /* Style for "1-333-4896" */
                font-size: 12px;
                font-family: $font-secondary;
                margin-left: 7px;
            }

            &__mail {
                margin-left: 51px;

                i {
                    font-size: 14px;
                }
                
                span {
                    margin-left: 8px;
                }
            }
        }
        &__social {
            a {
                color: #fff;
            }
            i {
                font-size: 13px;
            }
            span {
                font-size: 12px;
                font-family: $font-third;
                line-height: 30px;
            }
        }
    }

    &__menu-bar {
        margin: 14px 0 20px;
        &__navbar {
            margin-right: -20px;

            &__nav {
                margin-top: 17px;
                color: $color-nav-item;
                font-family: $font-secondary;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                
                i {
                    font-size: 10px;
                }

                a {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background: $color-primary;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 250ms ease-in;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
            }
        }

    }
    &__hero {
        background-image: url('../../img/hero.png');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 780px;

        &__text-holder {
            padding: 240px 0 0 410px;
            &__h1, &__button {
                text-transform: uppercase;
            }
            &__h1{
                font-size: 60px;
                font-weight: 600;
                padding-bottom: 4px;
            }
            &__p {
                font-family: $font-primary;
                color: $color-hero-p;
                font-size: 18px;
                width: 472px;
                padding-top: 16px;
            }
            button, hr {
                background-color: $color-primary;
            }
            button {
                color: #fff;
                border-radius: 0%;
                margin-top: 20px;
                font-size: 14px;
                padding: 13.5px 35px;
            }
            hr {
                width: 50px;
                height: 2px;
            }
        }
    }
}