.services {
	text-align: center;
	margin-bottom: 109px;
}
.services__h2,
.services__link {
	text-transform: uppercase;
}
.services__h2 {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 17px;
	&::after {
		@include h-after;
		width: 40px;
		left: 50%;
	}
}

.services__p {
	padding-top: 12px;
	margin-bottom: 112px;
	color: $color-story-first-p;
}

.services__card-holder {
	display: flex;
	justify-content: space-between;
}

.services__card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 259px;
	height: 200px;
}

.services__link {
	display: block;
	color: #fff;
	text-decoration: none;
	padding-top: 26px;
	font-weight: 500;
	letter-spacing: 1.5px;
	position: relative;
}
