.story {
	background-color: $color-bckg-story;
	margin-bottom: 144px;
}
.story__wrapper {
	display: flex;
	padding-top: 197px;
}

.story__img-holder {
	border: 2px solid $primary;
	margin-right: 80px;
	margin-left: 26px;
}

.story__text-holder {
	padding-left: 11px;

}
.story__img {
	transform: translate(-25px, -26px);
}

.story__h2 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 92px;
	padding-bottom: 16px;
	font-size: 36px;
	&::after {
		@include h-after;
		left: 21px;
		width: 40px;
	}
}
.story__p {
	color: $color-story-first-p;
	font-size: 14px;
	line-height: 1.7;
}
.story__first-p {
	font-family: $font-secondary;
	padding-top: 12px;
	padding-bottom: 2px;
	font-size: 16px;
}
.story__last-p {
	padding-top: 10px;
}
