.story {
  display: grid;
  grid-template-columns: 445px 1fr;
  padding: 165px 21.5% 148px 21.8%;
  margin-top: 137px;
  gap: 110px;
  font-family: $font-secondary;
  background-color: $color-bckg-story;
  &__img-holder {
    width: 445px;
    height: 490px;
    border: 2px solid $color-primary;
    position: relative;
    margin-left: 22px;
    img {
      position: absolute;
      top: -25px;
      left: -26px;
    }
  }

  &__text-holder {
    margin-top: 94px;
    h2 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 36px;
    }

    hr {
      @include hr-style;
    }
    &__first-p {
      font-family: $font-primary;
      color: $color-story-first-p;
      font-size: 16.3px;
    }

    &__p {
      padding-top: 10px;
      font-size: 14px;
      &:last-child {
        padding-top: 20px;
      }
    }
  }
}
