.testimonials {
    background-color: $color-bckg-testimonials;
    color: #fff;
    text-align: center;
    padding: 96px 0;
<<<<<<< HEAD

=======
    margin-bottom: 65px;
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
}

.testimonials__wrapper {
    border: 1px solid $primary;
}

.testimonial__quotes {
    background-color: $color-bckg-testimonials;
    transform: translate(0, -16px);
    width: 64px;
    margin: 0 auto;
}


.testimonials__slide {
    margin: 10px 0 18px;
    padding: 0 120px 25px;
}

.testimonials__h2, .testimonials__span {
    text-transform: uppercase;
}

.testimonials__h2 {
<<<<<<< HEAD
    padding-top: 7px;
=======
    padding-top: 10px;
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
    padding-bottom: 16px;
    font-size: 36px;
    letter-spacing: .8px;
    &::after {
        @include h-after;
        left: 50%;
		width: 40px;
    }
}
.testimonials__p {
    font-family: $font-secondary;
    padding-top: 28px;
    line-height: 1.8;
<<<<<<< HEAD
    line-height: 30px;
}
.testimonials__span {
    padding-top: 3px;
=======
}
.testimonials__span {
    padding-top: 9px;
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
    padding-bottom: 10px;
    display: block;
    font-size: 14px;
}

// Slick slider styles
.js-testimonials__carousel {
    .slick-dots {
        // position: absolute;
        // bottom: 120px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        transform: translate(0, 35px);
        li {
            top: -7px;
            margin: 0;
        }
    
        li.slick-active button:before {
            background-color: $primary;
            color: transparent;
        }
        li button:before {
            color: transparent;
            border: 1px solid $primary;
            border-radius: 50%;
            width: 9px;
            height: 9px;
        }
    } 
}
