@import 'vars';
@import 'mixins';
@import 'global';
@import 'header';
@import 'banner';
@import 'services';
@import 'story';
@import 'uandr';
@import 'testimonials';
@import 'faq';
@import 'why-us';
@import 'gallery';
<<<<<<< HEAD
@import 'text-box';
=======
@import 'dolor';
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
@import 'form';
@import 'clients';
@import 'contact';
@import 'footer';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
<<<<<<< HEAD
=======

.content {
    display: none;
}
.content .active {
    display: block;
}
.active {
    display: block;
}
.tabs {
    text-align: center;
    margin-bottom: 400px;
}
>>>>>>> 83f2743d05bc7bbacacf12bc034cc2b21b5208e3
